/AddProductCommand.class
/Command.class
/DeleteAllProductsCommand.class
/DeleteLastCommand.class
/DeleteProductCommand.class
/GetProfitCommand.class
/ProfitCommand.class
/SendNotificationCommand.class
/googlesearceCommand.class
/GetProductProfitCommand.class
/GetTotalProfitCommand.class
